@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Estilos generales*/
body {
    background-color: #dfe6f0;
    font-family: "Montserrat Alternates";
}

ul {
    list-style: none;
    padding: 0%;
    margin: 0%;
}

img {
border-radius: 15px;
}

/*Estilos de los titulos*/

h1 {
    color: #ff6d00;
    text-decoration: underline;
    font-weight: 900;
}

h2{
    color: #0a0a0a;
    text-decoration: underline;
    font-weight: 700;
}

h3 {
    color: #ff6d00;
    text-decoration: underline;
    font-weight: 600;
}

h4{
    color: red;
    text-decoration: underline;
    font-weight: 500;
}

h5 {
    color: green;
    text-decoration: underline;
    font-weight: 600;
}

p {
    color: #0a0a0a;
    font-weight: 400;
    column-count: 1;
    column-gap: 20px;
}

/*Estilos del navegador principal*/

.nav-header{
    display:flex;
    justify-content: space-between;
    gap: 20px;
    font-family: "Montserrat Alternates";
    font-weight: 500;
    background-color: #1f4054; 
    width: 100%;             
    margin: 0;               
    padding: 1em;
    flex-wrap: wrap;
}

.nav-header ul{
    font-weight: 500;
    text-decoration: none;
    color: #dfe6f0;
}

.nav-header ul li{
    text-decoration: none;
    color: #dfe6f0;
}

.nav-header a{
    text-decoration: none;
    color: #dfe6f0;
}

main {
  min-height: 100vh;
  display: flex;
flex-direction: column;
flex-wrap: wrap;
}

/*Tipografia preguntas frecuentes*/

.faq summary {
     font-weight: 400;
}


.faq p {
    font-weight: 400;
}

/*Footer - estilos*/

footer {
    background-color: #1f4054;
    font-weight: 400;
}

.footer-principal {
    color: #dfe6f0;
}

/*CELULAR*/

@media (min-width: 460px){
    /*Celular*/
    p {
        column-count: 1;
    }
}

@media (min-width: 700px) {
    /*Tablet*/
    p {
        column-count: 2;
    }
}

@media (min-width: 1200px) {
    /*Desktop*/
    p {
        column-count: 3;
    }
}
