@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


ul {
  list-style: none;   /* elimina los puntitos */
  padding: 0;
  margin: 0;
}


img {
  border-radius: 15px;   /* redondea los bordes */
}

/* Header en rojo oscuro */
h1 {
    color: beige;
  background-color: #a41d1d;
  font-family: 'Montserrat Alternates';
  font-weight: 900; /* BLACK */

}

/* Main en verde intenso */
h2 h3 h4 h5 {
     color: beige;
  background-color: #1ec853;
font-family: 'Montserrat Alternates';
  font-weight: 400; /* normal */

}

/* Footer en azul fuerte */
footer {
  background-color: #1111a3;
}

/* 4. Dar borde al logo */
header nav a img {
  border: 2px solid black;   /* borde negro alrededor del logo */
  padding: 5px;              /* espacio interno */
}

